{% load static %}

<div class="h-10 bg-gray-100 flex flex-row">
    <!-- Logo and Classroom text -->
    <a class="navbar-brand" href="{% url 'home' %}">
        <img class="w-10 h-10" src="{% static 'images/logo.png' %}" alt="Classroom Logo">
        <span class="underline p-3">Classroom</span>
    </a>


    <!-- User Authentication section -->
    <div class="flex-grow">
        <div class="d-flex">
            <div class="mx-2">
                <small class="title text-muted">คุณ {{request.user.first_name}}!</small><br>
                {% if user.teacher %}
                    <a href="{% url 'teacher' %}">แดชบอร์ด</a> | <a href="{% url 'logout' %}"> ออกจากระบบ</a>
                {% elif user.student %}
                    <a href="{% url 'student' %}">แดชบอร์ด</a> | <a href="{% url 'logout' %}"> ออกจากระบบ</a>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
